html, body {
  height: 100%;
  font-family: 'Xanh Mono', monospace;
  font-size: 16px;
  color: #000000;
  background-color: #e6f1fc;
  cursor: crosshair;
  }

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color:#000000;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #000000 dotted;
  border-radius: 2%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p, span, button {
  font-family: 'Istok Web', sans-serif;
  color: #000000;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
  font-family: 'Istok Web', sans-serif;
  text-decoration: underline;
  color: #000000;
  text-align: right;
}

/* links */

a:link {
  text-decoration: underline;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:active {
  text-decoration: underline;
  color: #000000;
}

a:visited {
  text-decoration: underline;
  color: #000000;
}

/* Column Styling */

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Top Navigation Styling */

.logo {
  max-width: 70%;
  margin-left: 40%;
  margin-top: 15%;
}

.nav-menu {
  float: right;
  text-align: right;
  margin-right: 40%;
  margin-top: 15%;
}

/* Footer Navigation Styling */

h6.footer {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") pink;
}

div.hidden {
  background: peachpuff;
}

div.hidden:hover {
  background: peachpuff;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") skyblue;
}
